$dx-red: #e84626;
$dx-blue: #01108f;

.heading3 {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 15px;
  display: block;
}

.heading4 {
  font-size: 22px;
  font-weight: 600;
  display: block;
}

.blog-single {
  max-width: 1400px;
  position: relative;
  margin: auto;

  &-header {
    min-height: 700px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 0;

    &-overlay {
      position: absolute;
      inset: 0;
      z-index: -1;
      background: linear-gradient(
          220deg,
          rgba(214, 11, 11, 0.95) -63%,
          rgba(24, 46, 173, 0.95) 86%
        ),
        url(/banner.jpg);
      width: 100vw;
      left: 50%;
      transform: translateX(-50%);
      background-repeat: no-repeat !important;
      background-size: cover !important;
      &:before {
        content: "";
        width: 594px;
        height: 611px;
        display: block;
        background: url(/blog_before.png);
        background-size: auto;
        background-size: cover;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
      }
      &:after {
        content: "";
        width: 453px;
        height: 341px;
        display: block;
        background: url(/blog_after.png);
        background-size: auto;
        background-size: cover;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
      }
    }

    &-breadcrumbs {
      max-width: fit-content;
      color: $dx-red;
      font-size: 22px;
      font-weight: bold;

      a {
        transition: 0.3s all;
      }
      a:hover {
        opacity: 0.5;
      }
    }

    &-title {
      display: flex;
      gap: 20px;
      justify-content: space-between;
      color: #fff;
      h1 {
        font-size: 50px;
      }
      .align-center {
        display: flex;
        align-items: center;
        gap: 5px;
      }
      .entry-meta {
        width: 100%;
        max-width: fit-content;
        gap: 50px;
      }
    }
  }
  .single-post-content {
    &-banner {
      margin-top: -200px;
      position: relative;
      img {
        border-radius: 40px;
      }
    }

    .blog-single-content {
      margin-top: 40px;
      display: flex;
      gap: 80px;
      padding-bottom: 100px;
      .blog-content {
        &-body {
          p {
            font-size: 16px;
            margin-bottom: 20px;
            line-height: 32px;
            font-weight: 300;
          }

          a {
            color: $dx-red;
            &:hover {
              text-decoration: underline;
            }
          }
        }

        &-footer {
          margin-top: 40px;
          border-top: 1px solid;
          padding-top: 20px;

          display: flex;
          justify-content: space-between;
          align-items: center;

          .blog-social {
            max-width: fit-content;
            .blog-social-sharing {
              margin-top: 10px;
              display: flex;
              gap: 10px;

              .btn-share {
                color: var(--background);
                width: 40px;
                height: 40px;
                display: grid;
                place-items: center;
                background: var(--foreground);
                border-radius: 5px;
                transition: 0.3s;

                &:hover {
                  color: $dx-red;
                }
              }
            }
          }

          .blog-navigation {
            display: flex;
            background: $dx-red;
            gap: 2px;
            width: 60%;

            a {
              background: var(--background);
              width: 50%;
              padding: 10px 20px;
              font-weight: bold;
              position: relative;
              z-index: 0;
              color: var(--foreground);
              overflow: hidden;
              text-decoration: none;
              transition: 0.3s;
              &:hover {
                color: var(--background);
              }
              &.next {
                text-align: right;

                &:before {
                  right: 100%;
                }
                &:hover {
                  &:before {
                    right: 0%;
                  }
                }
              }
              &.prev {
                &:before {
                  left: 100%;
                }
                &:hover {
                  &:before {
                    left: 0%;
                  }
                }
              }

              &:before {
                content: "";
                position: absolute;
                inset: 0;
                z-index: -1;
                background: $dx-red;
                transition: 0.3s;
              }
            }
          }
        }

        &-comment {
          position: relative;
          margin-top: 20px;
          border-top: 1px solid;
          padding-top: 20px;
          padding-bottom: 10px;
          .heading4 {
            margin-bottom: 10px;
          }
          &-sending {
            position: fixed;
            top: 40px;
            left: 50%;
            transform: translateX(-50%);
            background: var(--foreground);
            padding: 40px;
            color: var(--background);
            border-radius: 10px;
          }
          &-card {
            padding: 20px;

            padding-bottom: 0;

            .card-title {
              display: flex;
              align-items: center;
              font-size: 20px;
              margin-bottom: 10px;
              position: relative;
              &:before {
                content: "";
                width: 5px;
                left: -20px;
                background: $dx-red;
                top: 0;
                bottom: 0;
                position: absolute;
              }

              span {
                font-size: 12px;
                &:before {
                  content: "•";
                  margin-inline: 20px;
                }
              }
            }
            p {
              font-size: 16px;
            }

            .btn-card-reply {
              font-weight: bold;
              color: $dx-red;
              margin-top: 10px;
              max-width: fit-content;
              display: block;
              transition: 0.3s;
              font-size: 14px;
              cursor: pointer;

              &:hover {
                opacity: 0.6;
              }
            }

            .reply-form {
              margin-top: 20px;
              display: flex;
              align-items: center;
              gap: 10px;
              textarea {
                border: none;
                border-bottom: 1px solid;
                resize: none;
                width: 50%;
                font-size: 16px;
                font: inherit;
                line-height: 24px;
                padding: 10px;
              }

              button {
                font: inherit;
                border: none;
                padding: 10px 20px;
                background: none;
                cursor: pointer;
                border-radius: 5px;
                font-weight: bold;
                color: #fff;
                transition: 0.3s;
                background-image: linear-gradient(
                  90deg,
                  #01108f 1.7%,
                  #ed4723 95.62%
                );
                background-size: 200% 100%;
                &:hover {
                  background-position: 100% 0;
                }
              }
            }

            .replies {
              position: relative;
              padding-left: 20px;
              &:before {
                content: "";
                position: absolute;
                left: 10px;
                top: 10px;
                bottom: 20px;
                width: 2px;
                background-color: var(--foreground);
                opacity: 0.5;
              }

              .card-title {
                position: relative;

                &:before {
                  content: "";
                  height: 2px;
                  background-color: var(--foreground);
                  opacity: 0.5;
                  top: 10px;
                  width: 20px;
                  position: absolute;
                  left: -30px;
                }
              }
            }
          }

          &-leave {
            position: relative;
            margin-top: 20px;
            border-top: 1px solid;
            padding-top: 20px;
            padding-bottom: 10px;

            textarea {
              border: none;
              border-bottom: 1px solid;
              resize: none;
              width: 100%;
              font-size: 16px;
              font: inherit;
              line-height: 24px;
              padding: 10px;
            }

            button {
              margin-top: 20px;
              font: inherit;
              border: none;
              padding: 10px 20px;
              background: none;
              cursor: pointer;
              border-radius: 5px;
              font-weight: bold;
              color: #fff;
              transition: 0.3s;
              background-image: linear-gradient(
                90deg,
                #01108f 1.7%,
                #ed4723 95.62%
              );
              background-size: 200% 100%;
              &:hover {
                background-position: 100% 0;
              }
            }
          }
        }
      }

      .blog-sidebar {
        width: 100%;

        &-category {
          background: linear-gradient(90deg, #f1f2f8 1.7%, #fef6f4 95.62%);
          border-radius: 10px;
          padding: 27px 34px;
          margin-bottom: 40px;
          h3 {
            color: #000;
          }

          a {
            font-size: 18px;
            color: $dx-red;
            transition: 0.3s all;
            font-weight: bold;
            max-width: fit-content;
            margin-bottom: 10px;
            display: block;
            &:hover {
              opacity: 0.6;
            }
          }
          .nostyle {
            list-style: none;
            margin: 0;
            padding: 0;
          }
        }

        &-relatedPost {
          .blog-sidebar-card {
            background: #f3f3f3;
            color: #1a1a1a;
            margin-bottom: 20px;
            .content {
              padding: 10px;
              .tag {
                margin-bottom: 10px;

                a {
                  color: $dx-red;
                  font-weight: bold;
                  transition: 0.3s;
                  &:hover {
                    opacity: 0.6;
                  }
                }
              }
              .card-title {
                transition: 0.3s;
                &:hover {
                  color: $dx-red;
                }
              }
            }
          }
        }
      }
    }
  }
}
